<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>调用签字版Demo</title>
</head>
<body>
<div id="myform">


    <p style="color: lightgray;">{{signKey}}</p>
    <br>

    <div>
<!--        <label>审批结论:</label>-->
<!--        <input type="text" placeholder="请输入审核结论">-->
        <br>
        <br>
<!--        <label>签名:</label>-->
        <!--        <img :src="getSignImg()" alt="">-->
        <img style="width:200px;" :src="signImg" alt="">
        <br>
        <button @click="toSign">扫码签名</button>
        <button @click="getSignImg">获取签名</button>
        <br>
        <br>
<!--        <button>提交审核</button>-->
    </div>
</div>
<script>

    new Vue({
        el: "#myform",
        data: {
            signKey: "",
            signImg: "/noimg.jpg"
        },
        mounted: function () {
            this.signKey = "asdfasd";
        },
        methods: {
            toSign: function () {
                window.open("http://localhost:1994/api/getQrCode/" + this.signKey, "_signQrCode")
            },
            getSignImg() {
                var that = this;
                $.ajax("/getImg/" + this.signKey, {
                    type: "GET",
                    success: function (res) {
                        that.signImg = res;
                        // var img = document.createElement("img")
                        // img.src=res
                        // document.body.append(img);
                    }
                });
            }
        }
    })
</script>
</body>
</html>
