<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery.js"></script>
    <script src="/vue.js"></script>
    <title>usage demo</title>
</head>
<body>
<div id="myform">
    <input v-model="signKey"><br>
    <div>
        <img style="width:200px;" :src="signImg" alt=""><br>
        <button @click="openSign('http://localhost:8090/signature/api/getQrCode/' + signKey)">扫码签名</button>
    </div>
</div>
<script>
    new Vue({
        el: "#myform",
        data: {
            signKey: "",
            signImg: "/noimg.jpg"
        },
        mounted: function () {
            // Unique, not repeated, for each signature
            // 唯一，不重复，对用每一个签名
            this.signKey = "0bbc1108-5f18-4971-b2d4-88939c536ff5";
            // 监听打开的子窗口的数据回传事件
            window.addEventListener('message', this.ProcessChildMsg)
        },
        methods: {
            // 扫码签名窗口获取到签字后的动作
            ProcessChildMsg(msg) {
                console.log(msg)
                if (msg && msg.data && msg.data.code === 0){
                    this.signImg = msg.data.base64
                }
            },
            // 打开签字窗口的方法
            openSign: function (signServerUrl, name, iWidth, iHeight) {
                // signServerUrl 签名服务地址
                // name 窗口名称，可为空
                // iWidth // 弹出窗口的宽度
                // iHeight; // 弹出窗口的高度
                name = name || "sign_window"
                iWidth = iWidth || 500
                iHeight = iHeight || 300
                // window.screen.height获得屏幕的高，window.screen.width获得屏幕的宽
                var iTop = (window.screen.height - 30 - iHeight) / 2; // 获得窗口的垂直位置;
                var iLeft = (window.screen.width - 10 - iWidth) / 2; // 获得窗口的水平位置;
                var sign_window = window.open(signServerUrl, name, 'height=' + iHeight + ',innerHeight=' + iHeight
                    + ',width=' + iWidth + ',innerWidth=' + iWidth + ',top=' + iTop + ',left=' + iLeft
                    + ',toolbar=no,menubar=no,scrollbars=auto,resizeable=no,location=no,status=no');
            },
        }
    })
</script>
</body>
</html>
