<!doctype html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>签字版-简易</title>
    <link rel="stylesheet" th:href="@{/elementUI/index.css}"/>
    <script th:src="@{/vue/vue.js}"></script>
    <script th:src="@{/elementUI/index.js}"></script>
</head>
<body>

<h2>
    简易签字版v4
</h2>
</body>
</html>
